body{
    margin: 0;
    padding: 0;
    color:#666;
    font-size:12px;
    overflow-y:scroll;
    font-family:"SimSun";
}
.min1200{min-width: 1200px;}
*::selection{
    color:#fff;
    background-color:#39BBC2;
}
img{
    border:none;
    margin:0;
    padding:0;
}
i{font-style: normal;}
a{
    color:#1485ec;
    cursor:pointer;
}
a:hover{
    color:inherit;
}
a,a:hover,a:visited,a:active,a:link{
    outline:none !important;
    text-decoration:none;
}
table{
    width:100%;
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;
}
table>tbody>tr>td{
    line-height: 20px;
    padding:10px 8px;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.fixed>tbody>tr>td{
    word-wrap: break-word;
    table-layout: fixed;
    word-break: break-all;
}
.text-index-no{text-indent: 0px!important;}

form{
    border:0;
    margin:0;
    padding:0;
}
ul,li{
    border:0;
    margin:0;
    padding:0;
    list-style-type:none;
}
.btn-100{
    width:100px;
}
.btn-120{
    width:120px;
}
.btn-140{
    width:140px;
}
.btn-160{
    width:160px;
}
.btn-180{
    width:180px;
}
.btn-200{
    width:200px;
}
.w-10{
    width:10px;
}
.w-20{
    width:20px;
}
.w-30{
    width:30px;
}
.w-40{
    width:40px;
}
.w-50{width: 50px;}
.w-60{
    width:60px;
}
.w-70{
    width:70px;
}
.w-80{
    width:80px;
}
.w-80i{
    width:80px!important;
}
.w-83{
    width:83px;
}
.w-90{
    width:90px;
}
.w-100{
    width:100px;
}
.w-110{
    width:110px;
}
.w-120{
    width:120px;
}
.w-130{
    width:130px;
}
.w-140{
    width:140px;
}
.w-150{
    width:150px;
}
.w-160{
    width:160px;
}
.w-165{
    width:165px;
}
.w-170{
    width:170px;
}
.w-180{
    width:180px;
}
.w-180i{
    width:180px!important;
}
.w-190{
    width:190px;
}
.w-200{
    width:200px;
}
.w-210{
    width:210px;
}
.w-220{
    width:220px;
}
.w-230{
    width:230px;
}
.w-240{
    width:240px;
}
.w-245{width: 245px;}
.w-250{
    width:250px;
}
.w-260{
    width:260px;
}
.w-270{
    width:270px;
}
.w-280{
    width:280px;
}
.w-300{
    width:300px;
}
.w-320{
    width:320px;
}
.w-340{
    width:340px;
}
.w-350{
    width:350px;
}
.w-360{
    width:360px;
}
.w-380{
    width:380px;
}
.w-400{
    width:400px;
}
.w-410{
    width:410px;
}
.w-420{
    width:420px;
}
.w-490{
    width:490px;
}
.w-490i{
    width:490px!important;
}
.w-500{width: 500px;}
.w-600{width: 600px;}
.w-700{width: 700px;}
.w-750{width: 750px;}
.w-1200{width: 1200px;}
.w-1200i{width: 1200px!important;}
.h-10{height: 10px;}
.h-20{height: 20px;}
.h-30{height: 30px;}
.h-40{height: 40px;}
.h-40i{height: 40px!important;}
.hide{display: none;}
.redDot{font-style: normal;color: #ff0000}
.redBorder{border: 1px solid #ff0000!important;}
.w-500{width: 500px;}
.fontYaHei{font-family: '寰蒋闆呴粦'}
.font-song{font-family: '瀹嬩綋'}
.borderRightNone{border-right: none!important;}
.logistHei{height: 64px!important;}
.TTheig{height: 82px!important;padding-bottom: 20px;}
.TTheig01{height: 82px;}
.TTheig01 textarea{height: 82px;}

.clearfix{zoom: 1}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;}
.Mask{width: 100%;height: 100%;position: fixed;z-index: 9010;top: 0;left: 0;}
.Mask .MaskZz{width: 100%;height: 100%;background-image: url("../../www/images/service/repeat01.png");background-repeat: repeat;}
.tranBack{-webkit-transition: background 0.15s ease-out;-moz-transition: background 0.15s ease-out;transition: background 0.15s ease-out;}

.cur_no{cursor: not-allowed;}
.cur_noi{cursor: not-allowed!important;}

.gSelect{border: 1px solid #dddddd;height: 35px;background-color: #FFFFFF;position: relative;box-sizing: border-box;-moz-box-sizing: border-box;font-size: 14px;}
.gSelectHei30i{height: 30px!important;line-height: 30px!important;}
.gSelectTop12{top: 12px!important;}
.gSelectTop28{top: 28px!important;}
.gSelectT{height: 35px;position: relative;cursor: pointer;}
.gSelectT input{padding-left: 10px;max-width: 75%;height: 33px;display: block;line-height: 33px;white-space: nowrap;overflow: hidden;color: #333333;border: none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;cursor: pointer;}
.gSelectIptH28{height: 28px!important;line-height: 28px!important;}
.selectIcon{background-image: url("../images/selectArr.png");position: absolute;right: 14px;top: 15px;display: block;width: 11px;height: 6px;}
.gSelect .gSelectUl{position: absolute;top: 33px;left: -1px;display: none;z-index: 5;margin-top: 0!important;margin-bottom: 0!important;}
.gSelect .gSelectUl li{height: 35px;line-height: 35px;margin-top: 0!important;margin-bottom: 0!important;background-color: #FFFFFF;border: 1px solid #dddddd;
    border-bottom: 0px;overflow: hidden;cursor: pointer;padding: 0!important;}
.gSelect .gSelectUl li:hover{background-color: #f5f5f5;}
.gSelect .gSelectUl li span{padding-left: 10px;white-space: nowrap;}
.gSelect .gSelectUl li:last-child{border-bottom: 1px solid #dddddd;}

.BoxSizingBor{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
.BoxSizingCon{-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box}

.text-l{
    text-align:left !important;
}
.text-c{
    text-align:center !important;;
}
.text-r{
    text-align: right!important;
}
.red{
    color:red;
}
.f-input{
    line-height:34px;
}
.f-deep{
    color:#333;
}
.f-prompt{
    color:#fe8f00;
}
.f-warning{
    color:#ff7e00;
}
.f-remark{
    color:#999;
}
.f-string{
    padding-left:7px;
    padding-right: 7px;
}
.f-green{
    color:#07b831;
}
.f-bule{
    color:#0b8ded;
}
.primary-statu{
    color:#1787F4;
    background-color:#EBF7FF;
}
.success-statu{
    color:#48A11D;
    background-color:#E4FAE0;
}
.danger-statu{
    color:#FF0000;
    background-color:#FFF0F0;
}
a.btn{
    border-radius:0;
    padding: 0 0;
    vertical-align: top;
    line-height: 32px;
}
a.btn-small{
    padding: 0 4px;
    vertical-align: top;
    line-height: 20px;
    font-size: 12px;
}
a.btn-sm{
    line-height: 28px;
    font-size: 12px;
}
a.btn-lg{
    line-height: 40px;
    font-size: 16px;
    font-family:"Microsoft Yahei";
}
.btn-lg{
    font-family:"Microsoft Yahei";
}
.btn-default{
    background-color:#f1f1f1;
}
a.btn-mini{
    line-height: 22px;
    font-size: 12px;
}
a.btn-lit{
    line-height:18px;
    font-size:12px;
}
a.btn-lit.btn-auto{
    padding:0 2px !important;
}
a.btn-mini.btn-auto{
    padding:0 6px;
}
a.btn-sm.btn-auto{
    padding:0 12px;
}
a.btn-auto{
    padding:0 15px;
}
a.btn-small-100{
    width:80px;
    vertical-align: top;
    line-height: 20px;
    font-size: 14px;
}
.btn-upload{
    color:#fff;
    background-color:#27c6ff;
    border:1px solid #1FB9F0;
}
.btn-upload:hover{
    color:#fff;
    background-color:#1EBFF8;
}
.exportandrecord .btn-primary{
    border:1px  solid #dddddd;
    color: #666666;
    background-color:#ffffff;
}
.exportandrecord .btn-primary:hover{
    border:1px  solid #dddddd;
    color: #666666;
    background-color:#f7f7f7 !important;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{
    border:1px solid #0080D4;
    background-color:#0b8ded;
}
.btn-warning{
    border-color:#e88608;
    background-color:#fe8f00;
}
.btn-warning:hover{
    border-color:#d77d09;
    background-color:#f08904 !important;
}
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active{
    border:1px solid #d77d09;
    background-color:#f08904;
}
.btn-default{
    color:#666;
}
a.btn-del{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 18px;
    font-size: 16px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #bbb;
}
a.btn-del:hover{
    background-color: #E53E49;
    border-color:#c7222c;
}
button[type="button"]{
    border-radius: 0 !important;
}
button[type="button"]{
    font-weight: normal;
}
.btn{
    vertical-align: top;
}
.text-underline{text-decoration: underline}
.font-blod{font-weight: bold}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active{
    background-color:#bbb;
    border-color:#aaa;
    color:#fff;
}
.font-12{font-size: 12px;}
.font-12i{font-size: 12px!important;}
.font-14{font-size: 14px;}
.font-14i{font-size: 14px!important;}
.font-15{font-size: 15px}
.font-15i{font-size: 15px!important;}
.font-16{font-size: 16px;}
.font-16i{font-size: 16px!important;}
.font-18{font-size: 18px;}
.font-20{font-size: 20px;}
.font-22{font-size: 22px;}
.font-24{font-size: 24px;}
.font-wei{font-weight: bold;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding:0;
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .control-label,
.form-horizontal .checkbox-inline{
    padding-top:9px;
}
.control-label{
    text-align: right;
}
input[type="radio"],
input[type="checkbox"]{
    margin:0 0 0 0;
    margin-top: 2px;
}
.input-group-btn:last-child>.dropdown-toggle{
    height:34px;
}
.radio-inline,
.checkbox-inline {
    padding-left: 16px;
}
a.radio-inline:hover,
a.checkbox-inline:hover{
    padding-left:16px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"],
.radio-inline input[type="radio"],
.checkbox-inline input[type="checkbox"]{
    margin-left: -16px;
}
.radio-inline+.radio-inline,
.checkbox-inline+.checkbox-inline {
    margin-left: 0;
    margin-right:10px;
}
.radio-inline,
.checkbox-inline{
    margin-right:10px;
}
.dropdown-menu{
    border-radius:0;
    font-size:12px;
}
.form-control{
    font-size:12px;
}
.form-horizontal .form-group{
    margin-left:0;
    margin-right: 0;
}
.form-inline label{
    margin-right: 8px;
}
.form-horizontal .form-group{
    margin-right: 0;
}
.tl{
    text-align: left;
}
.tr{
    text-align: right;
}
.mt,
.mt:hover{
    margin-top:10px;
}
.mb-0{margin-bottom: 0;}
.mb-0i{margin-bottom: 0!important;}
.mb-5{
    margin-bottom:5px;
}
.mtF10{margin-top: -10px}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}
.mb-25{margin-bottom: 25px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}
.mb-50{margin-bottom: 50px;}

.mt-5{margin-top: 5px;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.mt-25{margin-top: 25px;}
.mt-30{margin-top: 30px;}
.mt-35{margin-top: 35px;}
.mt-40{margin-top: 40px;}
.mt-50{margin-top: 50px;}
.mt-55{margin-top: 55px;}
.mt-60{margin-top: 60px;}
.mt-65{margin-top: 65px;}
.mt-70{margin-top: 70px;}
.mt-75{margin-top: 75px;}
.mt-80{margin-top: 80px;}
.mt-85{margin-top: 85px;}
.mt-90{margin-top: 90px;}

.mb,
.mb:hover{
    margin-bottom:10px;
}
.mr,
.mr:hover{
    margin-right: 10px;
}
.ml,
.ml:hover{
    margin-left:10px;
}
.mlrAuto{margin: 0 auto}
.blueHover{color: #028dea}
.blueHover:hover{color: #0099ff}
.aHover{color: #028dea}
.aHover:hover{color: #1485ec;text-decoration: underline;}
.mt-20,
.mt-20:hover{
    margin-top:20px;
}
.mt-40{margin-top: 40px;}
.mt0{margin-bottom: 0!important;}
.mr5{margin-right: 5px;}
.mr-10{margin-right: 10px;}
.mr-15{margin-right: 15px;}
.mr-20{margin-right: 20px;}
.mr-20i{margin-right: 20px!important;}
.mr-25{margin-right: 25px;}
.mr-30{margin-right: 30px;}
.mr-35{margin-right: 35px;}
.mr-40{margin-right: 40px;}
.mr-50{margin-right: 50px;}
.mr-60{margin-right: 60px;}
.mr-70{margin-right: 70px;}
.mr-80{margin-right: 80px;}
.mr-90{margin-right: 90px;}
.mb-20,
.mb:hover{
    margin-bottom:20px;
}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml10i{margin-left: 10px!important;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.ml35{margin-left: 35px;}
.ml40{margin-left: 40px;}
.ml40i{margin-left: 40px!important;}
.ml50{margin-left: 50px;}
.ml60{margin-left: 60px;}
.ml70{margin-left: 70px;}
.ml70i{margin-left: 70px!important;}
.ml80{margin-left: 80px;}
.ml215i{margin-left: 215px!important;}
.mr-20,
.mr-20:hover{
    margin-right: 20px;
}
.ml-20,
.ml-20:hover{
    margin-left:20px;
}
.margin-right,
.margin-right:hover{
    margin-right:10px;
}
.pr5{padding-right: 5px}
.pr10{padding-right: 10px}
.pr15{padding-right: 15px}
.pr20{padding-right: 20px}
.pr25{padding-right: 25px}
.pr30{padding-right: 30px}
.pr40{padding-right: 40px}
.pr50{padding-right: 50px}
.pl5{padding-left: 5px}
.pl10{padding-left: 10px}
.pl15{padding-left: 15px}
.pl20{padding-left: 20px}
.pl25{padding-left: 25px}
.pl30{padding-left: 30px}
.pl35{padding-left: 35px}
.pl40{padding-left: 40px}
.pl50{padding-left: 50px}
.pl90{padding-left: 90px;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb60{padding-bottom: 60px;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}
.pt60{padding-top: 60px;}
.margin-left,
.margin-left:hover{
    margin-left:10px;
}
.margin-right-min{
    margin-right:4px;
}
.margin-left-min{
    margin-left:4px;
}
.padding-left{
    padding-left:10px;
}
.padding-right{
    padding-right:10px;
}
.padding-left-min{
    padding-left:4px;
}
.padding-right-min{
    padding-right:4px;
}
textarea{
    resize: none;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    vertical-align: top;
    border-radius: 0 !important;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="checkbox"]:focus,
input[type='radio']:focus,
button[type="button"]:focus{
    outline: 0 none;
}
.input-group-addon{
    border-radius:0;
}
.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td{
    border-bottom-width: 1px;
}
select{
    padding:-1px;
}
label{
    display:inline-block;
    font-weight: normal;
}
.captcha-icon{
    position:absolute;
    left: 486px;
    top: -2px;
}
.medal{
    display: inline-block;
    vertical-align: top;
    background-color: #fe8f00;
    color: #fff;
    height: 20px;
    padding: 0 4px;
    line-height: 20px;
}
/*杞挱*/
.carousel-indicators {
    bottom: 18px;
}
.carousel-indicators{
    font-size:0;
}
.carousel-indicators li{
    width:40px;
    height:6px;
    margin:0;
    border-radius:0;
    border:0;
    margin-left:10px;
    background-color:#000;
    filter:alpha(opacity=20);
}
:root .carousel-indicators li{
    filter: none;
    background-color: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li:first-child,
.carousel-indicators li:first-child.active{
    margin-left:0;
}
.carousel .carousel-control{
    display:none;
    width:40px;
    height:40px;
}
.carousel:hover .carousel-control{
    display:block;
}
.carousel-indicators li.active{
    width:40px;
    height:6px;
    margin-left:10px;
    filter:alpha(opacity=50);
}
:root .carousel-indicators li.active{
    filter:none;
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-control.left{
    filter:none;
    position: absolute;
    top:50%!important;
    margin-top:-20px; ;
    left:20px;
    background-image:none;
}
.carousel-control.right{
    filter:none;
    top: 50%!important;
    margin-top: -20px;
    right:20px;
    background-image:none;
}
.carousel-control>.lef{
    left:0px;
    top:0px;
    position:absolute;
}
.carousel-control>.rig{
    right:0px;
    top:0px;
    position:absolute;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right{
    margin-top:-20px;
    top:50%;
}
.btn-Primaty-r{line-height: 42px;color: #ff5000;font-size: 14px;padding-left: 20px;font-family: '寰蒋闆呴粦'}
.carousel-control>.glyphicon:empty{
    width:40px;
}
.carousel-control>.glyphicon{
    width:40px;
    height:40px;
    display:block;
    margin-top: -20px;
    top: 50%;
    filter: Alpha(opacity=20);
    background-repeat:no-repeat;
    background-image:url(../images/0006.png);
}
:root .carousel-control>.glyphicon{
    opacity:0.2;
}
.carousel-control>.glyphicon>img{
    opacity:1;
}
.carousel-control{
    width:20%;
    text-align:left;
    text-shadow:none;
    opacity: 1;
    filter: alpha(opacity=50);
}
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before{
    content:none;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 0%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 0%;
}


/*妯℃€佺獥*/
.modal-open{
    overflow-y: scroll;
}
.modal{
    overflow-y: hidden;
}
.orders-modal{
    width:140px;
    height:auto;
}
.modal{
    overflow:hidden;
}
.modal-dialog{
    margin-top:0;
    padding-top:100px;
}
.modal-body{
    min-height: 100px;
}
.orders-modal>a{
    margin-top: 10px;
}
.modal>div>div>.modal-header{
    border:0;
    padding-top:0;
    padding-bottom:0;
    height:38px;
    line-height:38px;
    position: relative;
}
.modal>div>div>.modal-header>a{
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    font-size: 16px;
    right: 9px;
    top: 9px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #bbb;
}
.modal>div>div>.modal-header>a:hover{
    background-color: #E53E49;
    border-color:#c7222c;
}
.modal.tit.info>div>div>.modal-header>a{
    background-color:#0b9fbf;
    border-color:#1094B1;
    line-height:14px;
    font-family:"Microsoft Yahei"
}
.modal.tit.info>div>div>.modal-header>a:hover{
    background-color: #E53E49;
    border-color:#c7222c;
}
.modal .modal-body{
    padding-top: 0;
}
.modal.tit .modal-body{
    padding-top:10px;
}
.modal-footer{
    padding:15px;
}
.modal.medium-modal>div>div>.modal-footer {
    margin-top: 0;
    padding:15px;
    text-align:left;
}
.modal.tit>div>div>div.modal-header{
    color:#666;
    font-size:15px;
    font-weight:bold;
    background-color:#eee;
    border-bottom: 1px solid #ddd;
}
.modal>div>div>div.modal-header>span.tit{
    display: none;
}
.modal.tit>div>div>div.modal-header>span.tit{
    display: block;
}
.modal.tit.info>div>div>div.modal-header{
    color:#fff;
    background-color:#0fb7db;
    border-bottom: 1px solid #0b9fbf;
}
.modal-content{
    height:auto;
    border-radius:0;
}
.modal-footer{
    margin-top: 0;
}
.modal>div>div.modal-content>.modal-body>span{
    width:100%;
    display: block;
}
.modal>div>div.modal-content>.modal-body>span.cen{
    text-align:center;
    line-height:40px;
    padding-bottom:10px;
}
.modal>div>div.modal-content>.modal-body>span.cen:after{
    content:"";
    display:block;
    clear:both;
}
.modal>div>div.modal-content>.modal-body>span.cen button{
    vertical-align: top;
    float:left;
}
.modal>div>div.modal-content>.modal-body>span.cen>span{
    display: block;
    float:left;
    text-align: left;
}
.mini-modal>.modal-dialog,
.mini-modal>div>div.modal-content{
    width:300px;
}
.mimi-x-modal>.modal-dialog,
.mimi-x-modal>div>div.modal-content{
    width:350px;
}
.small-modal>.modal-dialog,
.small-modal>div>div.modal-content{
    width:400px;
}
.small-x-modal>.modal-dialog,
.small-x-modal>div>div.modal-content{
    width:450px;
}
.medium-modal>.modal-dialog,
.medium-modal>div>div.modal-content{
    width:600px;
}
.waller-wait{color: #999999!important;}
.medium-x-modal>div.modal-dialog,
.medium-x-modal>div>div.modal-content{
    width:750px;
}
.medium-modal>div>div.modal-content .contact ul li label{
    font-weight: normal;
    margin-bottom: 0;
}
.medium-modal>div>div.modal-content .contact ul li span{
    display: inline-block;
}
.medium-modal>div>div.modal-content .contact ul li label span:first-child {
    width:14px;
}
.medium-modal>div>div.modal-content .contact ul li label span:first-child input{
    margin-top: 0px;
    vertical-align: middle;
}
.medium-modal>div>div.modal-content .contact ul li label span:first-child +span{
    width:160px;
    height:30px;
    margin-right: 10px;
    vertical-align: top;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.medium-modal>div>div.modal-content .contact ul li label span:first-child +span +span{
    width:170px;
    vertical-align: top;
}
.medium-modal>div>div.modal-content .contact ul li label span:first-child +span +span +span{
    width:140px;
    vertical-align: top;
}
.medium-modal>div>div.modal-content .contact ul li{
    border-bottom:1px dashed #ddd;
    line-height:30px;
    height:30px;
}
.modal.tit .modal-body.img-media{
    padding-top:20px;
}
.modal .modal-body.img-media{
    width:100%;
}
.modal .img-media:after{
    content:"";
    clear: both;
    display: block;
}
.modal .img-media>div:first-child{
    width:490px;
    height:370px;
    border:1px solid #ddd;
    padding:4px;
    float: left;
}
.modal .img-media>div:first-child>div{
    width:480px;
    height:360px;
}
.modal .img-media>div:first-child +div{
    float:right;
    width:210px;
    height:370px;
    position: relative;
}
.modal .img-media>div:first-child +div>div:first-child{
    padding-bottom: 15px;
    border-bottom:1px dotted #ddd;
}
.modal .img-media>div:first-child +div>div:first-child>span:first-child{
    line-height:34px;
    display:block;
    height:34px;
    font-size:18px;
    color:#fe8f00;
}
.modal .img-media>div:first-child +div>div:first-child +div>span:first-child{
    line-height:34px;
    font-size: 18px;
    color:#fe8f00;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.modal .img-media>div:first-child +div>div:first-child>span:first-child +span{
    display: block;
    line-height:24px;
    height:auto;
    max-height:144px;
    overflow: hidden;
}
.modal .img-media>div:first-child +div>div:first-child +div{
    padding-top:5px;
    padding-bottom: 5px;
    border-bottom:1px dotted #ddd;
}
.modal .img-media>div:first-child +div>div:first-child +div>ul>li{
    width:210px;
    height:26px;
    overflow: hidden;
    line-height:26px;
}
.modal .img-media>div:first-child +div>div:first-child +div +div{
    height:30px;
    padding-top:5px;
    line-height:30px;
    position: absolute;
    bottom:0;
}
#map-searchs .modal-body iframe{
    height:400px;
}
#map-searchs .modal.tit>div>div>div.modal-header>span.tit{
    font-size: 14px;
}
#big_image{
    width:100%;
    height:360px;
}
/*鍒嗛〉*/
.page{
    width:auto;
    height:auto;
    margin:0 auto;
    text-align: center;
}
.pagination{
    width:100%;
    text-align: center;
    width:100%;
    height:58px;
    padding:15px 0;
    margin-top:0;
    margin-bottom:0;
    border-radius:0;
}
.pagination a{
    display: inline-block;
    margin-left: 4px;
    height:26px;
    font-size:12px;
    line-height:24px;
    border:1px solid #c1d2f0;
    padding-left:10px;
    padding-right:10px;
}
.pagination a.active{
    background-color:#0fb7db;
    color:#fff;
    border-color: #0fb7db;
}
.pagination a:hover{
    background-color:#fe8f00;
    color:#fff;
    border-color: #fe8f00;
}
.pagination a.prev>i{
    margin-right:0;
}
input[type="number"].point-page{
    width:42px;
    margin-left: 4px;
    margin-right:4px;
    text-align: center;
    height:18px;
    line-height:18px;
    border-radius:0;
}
.btn-page{
    height:28px;
    border-radius: 0;
    line-height:28px;
    padding:0 8px;
    margin:0 0 ;
}
input[type="number"].point-page-max{
    width:42px;
    margin-left: 4px;
    margin-right:4px;
    text-align: center;
    height:24px;
    border-radius:0;
}
.btn-page-max{
    height:34px;
    border-radius: 0;
}
.pagination-max{
    height:34px;
    text-align: center;
    margin-top:12px;
    margin-bottom:18px;
}
.pagination-max a{
    display: inline-block;
    margin-left: 8px;
    height:32px;
    font-size:14px;
    line-height:32px;
    border:1px solid #c1d2f0;
    padding-left:14px;
    padding-right:14px;
}
.pagination-max a.active{
    background-color:#0fb7db;
    color:#fff;
    border-color: #0fb7db;
}
.pagination-max a:hover{
    background-color:#fe8f00;
    color:#fff;
    border-color: #fe8f00;
}
.pagination a.next i{
    margin-left: 4px;
    margin-right:0;
}

/*tooltip宸ュ叿鎻愮ず鏍峰紡璋冩暣*/
.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
}
.tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}
.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}
.tooltip-inner {
    min-width: 200px;
    height:34px;
    color:#1a96e9;
    font-size:14px;
    line-height:34px;
    padding: 0 0;
    text-align: center;
    text-decoration: none;
    background-color: #eef4f8;
    border:1px solid #c5e2f5;
    border-radius: 4px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: #c5e2f5;
    border-width: 5px 5px 0;
}
.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-top-color: #c5e2f5;
    border-width: 5px 5px 0;
}
.tooltip.top-right .tooltip-arrow {
    right: 5px;
    bottom: 0;
    border-top-color: #c5e2f5;
    border-width: 5px 5px 0;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-right-color: #c5e2f5;
    border-width: 5px 5px 5px 0;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-left-color: #c5e2f5;
    border-width: 5px 0 5px 5px;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: #c5e2f5;
    border-width: 0 5px 5px;
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    left: 5px;
    border-bottom-color: #c5e2f5;
    border-width: 0 5px 5px;
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    right: 5px;
    border-bottom-color: #c5e2f5;
    border-width: 0 5px 5px;
}
/*tooltip宸ュ叿鎻愮ず鏍峰紡璋冩暣*/

/*璁㈠崟Icon*/
/*.i-outside{
  width:20px;
  height:20px;
  margin-left:4px;
  display:inline-block;
  vertical-align:top;
  background-image:url(../images/03.jpg);
}
.i-self{
  width:20px;
  height:20px;
  margin-left:4px;
  display:inline-block;
  vertical-align:top;
  background-image:url(../images/04.jpg);
}
.i-month{
  width:50px;
  height:20px;
  margin-left:4px;
  display:inline-block;
  vertical-align:top;
  background-image:url(../images/05.jpg);
}*/
/*璁㈠崟Icon*/
/*闈㈠寘灞�*/
.bread{
    width:100%;
}
.bread_first a{
    margin-left: 0px !important;
}
.bread ul{
    width:1000px;
    height: 50px;
    margin: 0 auto;
    color:#2b8cc9;
    text-align: left;
    line-height: 50px !important;
}
.bread01 ul{
    width: 1095px!important;
}
.bread ul li{
    float:left;
    font-size: 12px;
    font-family: SimSum;

}
.bread ul li a{
    margin-right: 10px;
    margin-left: 10px;
}
.bread_last{
    color:#999;
    margin-right: 10px;
    margin-left: 10px;
}
.animationEaOut{animation: 0.15s all ease-out;-moz-animation:0.15s all ease-out;-webkit-animation: 0.15s all ease-out;}
.animationEaOut3{animation: 0.3s all ease-out;-moz-animation:0.3s all ease-out;-webkit-animation: 0.3s all ease-out;}
.animationShow{}

.aBule{color: #028dea}
.aBule:hover{color: #0099ff}
.fa-list-alt:before,.fa-folder:before,.fa-unlock-alt:before,.fa-group:before, .fa-users:before{margin-right: 5px;}

.min-widthNone{min-width: 0!important;}
.laba{
    color:#ff5000 !important;
    margin-top:0px !important;
    float: right !important;
}
.laba a{
    color:#ff5000 !important;
    margin-top:0px !important;
    float: right !important;
}
.laba img{
    margin-right:5px;
    margin-top: -3px;
}
.dis-linelk{display: inline-block}
.dis-block{display: block}
.wid520{width: 520px!important;}
.wid220{width: 220px;}

.fl{float: left}
.fli{float: left!important;}
.fr{float: right}
.fri{float: right!important;}
.line-25{line-height: 25px;}
.back-f7f7{background-color: #f7f7f7}
.color-999{color: #999}
.color-bbb{color: #bbbbbb}
.color-ddd{color: #dddddd}
.color-999i{color: #999!important;}
.color-666{color: #666}
.color-333{color: #333}
.color-000{color: #000}
.color-fff{color: #fff}
.color-red{color: #ff0000}
.colorf50{color: #ff5000}
.pl-70{padding-left: 70px;}
.padding-b0{padding-bottom: 0!important;}
.posi-rel{position: relative}
.pd-40{padding-bottom: 40px;}
.mb-40{margin-bottom: 40px;}
.bor-b-dash{border-bottom: 1px dashed #e1e1e1}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}
.heiLine28{line-height: 28px!important;height: 28px!important;}
/*闈㈠寘灞�*/

/*鏂板ご閮�*/
.personCenterHead{height: 70px;background-color: #0089d7;width: 100%;min-width: 1200px;}
.personCenterHeadWid{width: 1200px;margin: 0 auto;}
.personLogo{width: 125px;height: 70px;background-image: url("../../www/images/service/personCenter.png");padding: 38px 0 0 40px;}
.personLogo a{width: 80px;height: 20px;border: 1px solid #ffffff;color: #ffffff;display: block;text-align: center;line-height: 18px;font-family: '瀹嬩綋';border-radius: 8px;}
.personLogo a:hover{background-color: #ffffff;color: #0089d7;}
.personNav{margin-left: 40px;}
.personNav li{width: 120px;height: 70px;float: left;position: relative;}
.personNavTi{line-height: 70px;font-size: 16px;text-align: center;width: 120px;height: 70px;color: #ffffff;display: block;font-family: '瀹嬩綋';}
.personNav li:hover .personNavTi{background-color: #0077bb;color: #ffffff;}
.personNavArr{background-image: url("../../www/images/service/personCenter.png");width: 18px;height: 15px;display: inline-block;background-position: -224px 0;vertical-align: text-bottom;transition: 0.3s all ease;}
.personNavTiKl{padding:8px 4px 8px 4px;width: 100%;position: absolute;top: 70px;left: 0;background-color: #ffffff;box-shadow: 0 0 5px #c8c8c8;display: none; z-index: 3; }
.personNavTiKl p{text-align: center;height: 26px;line-height: 26px;color: #666666;font-family: '瀹嬩綋';cursor: pointer;margin-bottom: 0;}
.personNavTiKl p:hover{background-color: #dbeef9;}
.personNavOn{background-color: #0077bb;color: #ffffff;font-weight: bold}
.personNavXiao{width: 18px;height:18px;background-color: #ff0000;color: #ffffff;position: absolute;top: 13px;left: 88px;border-radius: 50%;line-height: 18px;text-align: center;}
.my2016Icon{background-image: url("../../www/images/service/newIoc.png");width: 52px;height: 20px;display: block;position: absolute;top: 6px;right: -14px;background-position: 0 -102px;}
.personTask{width: 160px;height: 37px;background-color: #4fbfff;border-radius: 3px;margin-top: 17px;line-height: 37px;margin-left: 90px;}
.personTask a{color: #ffffff;font-size: 14px;display: inline-block;float: left;}
.personTask a:before{content: "";width: 18px;height: 18px;background-image: url("../../www/images/service/personCenter.png");background-position: -125px 0;display: inline-block;float: left;margin: 10px 17px 0 12px;}
.personTask:hover{background-color: #01649c;color:#ffffff;}
.personZiliao{width: 120px;height: 70px;margin-left: 26px;position: relative}
.personZiliao:hover{background-color: #0077bb;}
.personZiliaoName{color: #ffffff;padding-top: 22px;padding-left: 18px;margin-bottom: 0;}
.personOneZ{color: #ffffff;text-overflow: ellipsis;width: 50px;display: inline-block;height: 12px;overflow: hidden;white-space: nowrap;line-height: 12px;}
.personRenZ:hover{color: #01a8ff;}
.personLv{width: 26px;height: 12px;display: inline-block;background-image: url("../../www/images/service/personLv.png");vertical-align: baseline;}
.personLv0{background-position: 0 0}
.personLv1{background-position:  0 -14px}
.personLv2{background-position:  0 -30px}
.personLv3{background-position: 0 -47px }
.personLv4{background-position: 0 -63px }
.personLv5{background-position: 0 -80px }
.personLv6{background-position: 0 -96px }
.personLv7{background-position: 0 -114px }
.personLv8{background-position: 0 -131px }
.personLv9{background-position: 0 -147px }
.personZiArr{background-image: url("../../www/images/service/personCenter.png");width: 12px;height: 12px;background-position: -188px 3px;display: inline-block;margin-left: 10px;vertical-align: middle;transition: all 0.3s linear}
.personZiliaoRz{padding-left: 15px;color: #dddddd;}
.personZiliaoPos{position: absolute;top: 70px;right: 0;padding: 12px 14px;box-shadow: 0 0 5px #cacaca;width: 200px;display: none;background-color: #ffffff;z-index: 3}
.personEmail{width: 16px;height: 13px;background-image: url("../../www/images/service/personCenter.png");background-position: -125px -25px;display: inline-block; margin-left: 10px;vertical-align: text-bottom}
.personEmailOn{background-position: -125px -42px!important; }
.personPhoto{width: 16px;height: 13px;background-image: url("../../www/images/service/personCenter.png");
    background-position: -150px -25px;display: inline-block;margin-left: 5px;vertical-align: text-bottom}
.personFile{width: 16px;height: 13px;background-image: url("../../www/images/service/personCenter.png");
    background-position: -174px -25px;display: inline-block;margin-left: 2px;vertical-align: text-bottom}
.personPhotoOn{background-position: -150px -42px!important;}
.personFileOn{background-position: -174px -42px!important;}
.personQues{}
.personQues a{width: 16px;height: 16px;display: block;background-image: url("../../www/images/service/personCenter.png");background-position: -160px 0;margin-top: 28px;float: right;}
.personQues a:hover{opacity: 0.8;filter:alpha(opacity=80)}





/*---end*/



/*鎶藉*/
.lotteryCash{color: #ff5000;font-size: 14px;}
.lotteryCash:before{background-image: url("../../www/images/service/lotterimg01.png");content: '';display: inline-block;width: 75px;height: 21px;vertical-align: middle;margin-right: 5px;}
.lotteryCash a{color: #028dea;margin-left: 15px;}

.lotteryCash1{color: #ffa319;font-size: 14px;}
.lotteryCash1:before{background-image: url("../../www/images/service/lotterimg01.png");content: '';display: inline-block;width: 75px;height: 21px;vertical-align: middle;margin-right: 5px;background-position: 0 -21px}
.lotteryCash1 a{color: #028dea;margin-left: 15px;}



/*鎶藉*/



/*Icon  -- 2016-12-29*/
.promptIcon{background-image: url("../../www/images/service/task/icon.png");width: 16px;height: 16px;display: inline-block;background-position: -201px -220px;}














