<footer class="footer navbar-fixed-bottom">
  <div class="f-btm">
    <div class="w1200">
      <div class="copyright text-center">
        <span>&copy; 2017 刘叔叔版权所有</span>

      </div>
    </div><!-- w1200 end -->
  </div>
</footer>